.main {
    display: flex;
    align-items: center;
}

.main .country-list {
    column-count: 2;
}

#country-container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-block: 2%;
}

#country-container:hover {
    background-color: #008000;
    color: white;
    transition: 0.3s;
}

#country-container p {
    font-family: "Comfortaa", sans-serif;
    font-size: large;
    margin-left: 2%;
}

svg {
    height: 100%;
    width: auto;
}

svg path {
    fill: #002d0d;
    stroke: #eee;
    stroke-width: .25;
}

svg path:hover {
    fill: #6aeca9;
    transition: 0.6s;
    cursor: pointer;
}